{%extends 'nav.html'%}
{%block content%}
<div class="row d-flex justify-content-center">

  <div class="col-6"><img src="{{prod.photo.url}}" class="card-img-top" alt="..."></div>
  <div class="col-6">
   
        <h5 >{{prod.Name}}</h5>
        
        <div class="card-body">
            <h5 class="card-title">{{prod.Price}}</h5>
            <p class="card-text">{{prod.Description}}</p>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>
</div>

</div>
{%endblock%}